Compulsory 3/AnthraxStandaloneClient/src/no/hib/mod250/anthrax/service/AuctionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.services.anthrax.mod250.hib.no/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.services.anthrax.mod250.hib.no/" name="AnthraxWebServicesService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.services.anthrax.mod250.hib.no/" schemaLocation="http://localhost:8080/services/SOAP/AuctionService?xsd=1"/>
</xsd:schema>
</types>
<message name="getActiveAuctions">
<part name="parameters" element="tns:getActiveAuctions"/>
</message>
<message name="getActiveAuctionsResponse">
<part name="parameters" element="tns:getActiveAuctionsResponse"/>
</message>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<message name="bidForAuction">
<part name="parameters" element="tns:bidForAuction"/>
</message>
<message name="bidForAuctionResponse">
<part name="parameters" element="tns:bidForAuctionResponse"/>
</message>
<portType name="AnthraxWebServices">
<operation name="getActiveAuctions">
<input wsam:Action="http://soap.services.anthrax.mod250.hib.no/AnthraxWebServices/getActiveAuctionsRequest" message="tns:getActiveAuctions"/>
<output wsam:Action="http://soap.services.anthrax.mod250.hib.no/AnthraxWebServices/getActiveAuctionsResponse" message="tns:getActiveAuctionsResponse"/>
</operation>
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://soap.services.anthrax.mod250.hib.no/AnthraxWebServices/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://soap.services.anthrax.mod250.hib.no/AnthraxWebServices/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
<operation name="bidForAuction">
<input wsam:Action="http://soap.services.anthrax.mod250.hib.no/AnthraxWebServices/bidForAuctionRequest" message="tns:bidForAuction"/>
<output wsam:Action="http://soap.services.anthrax.mod250.hib.no/AnthraxWebServices/bidForAuctionResponse" message="tns:bidForAuctionResponse"/>
</operation>
</portType>
<binding name="AnthraxWebServicesPortBinding" type="tns:AnthraxWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getActiveAuctions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bidForAuction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnthraxWebServicesService">
<port name="AnthraxWebServicesPort" binding="tns:AnthraxWebServicesPortBinding">
<soap:address location="http://localhost:8080/services/SOAP/AuctionService"/>
</port>
</service>
</definitions>